body {
  margin: auto;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background-color: lightgrey;
  background-attachment: fixed;
}

.main_menu {
  text-align: center;
  /* padding-top: 10px; */
  position: relative;

  background-image: url(images/vadringjag.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.main_menu h2 {
  color: white;
  padding: 10px;
}

.main_menu ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.main_menu a {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-align: center;
  transition: bakground 0.3s;
  -webkit-transition: bakground 0.3s;
  -moz-transition: bakground 0.3s;
  -ms-transition: bakground 0.3s;
  -o-transition: bakground 0.3s;
}

.main_menu a:hover {
  background: rgb(208, 224, 219);
  color: black;
}

.cv {
  justify-content: space-around;
  align-items: flex-start;
  max-width: 900px; /*maxbredd för text layouten*/
  margin: auto; /*auto centerar texten*/
  padding: 30px;
  /* grid-row: 2; */
}

.cv-content {
  flex: 2;
  padding: 30px;
  margin: auto;
  display: flex;
}

/* .cv-image {
  width: 100%;
  text-align: center;
} */

/* .cv-image img {
  max-width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */

h1 {
  margin: auto;
  padding: 30px;
  text-align: center;
}

h3,
h4 {
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}
h5 {
  margin: auto;
  padding: 5px;
  color: #555;
}

.cv * {
  word-wrap: break-word;
}

@media (max: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
