body {
  margin: 0 auto;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background-color: lightgrey;
  /* flex-wrap: wrap; */
  /* display: flexbox; */
}

.main_menu {
  text-align: center;
  /* padding-top: 10px; */
  position: relative;
  background-image: url(images/vadringjag.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  /* flex-wrap: wrap; */
}

.main_menu h2 {
  color: white;
  padding: 10px;
}

.main_menu ul {
  list-style: none;
  padding: 0%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  /* padding: 10%; */
}

.main_menu a {
  text-decoration: none;
  float: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-align: center;
  transition: bakground 0.3s;
  -webkit-transition: bakground 0.3s;
  -moz-transition: bakground 0.3s;
  -ms-transition: bakground 0.3s;
  -o-transition: bakground 0.3s;
}

/* hover parten, dont touch */
.main_menu a:hover {
  background: rgb(208, 224, 219);
  color: black;
}

.container {
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%; /*automatisk läge som fyller sin container*/
  max-width: 200px; /*sätter en max bredd på bilder*/
  border-radius: 10px; /*rundar till hörnen*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
}
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 90px;
  margin: 100px;
  background: rgb(174, 206, 243);
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 0;
  box-shadow: 9px 5px 30px 0 rgba(5, 5, 5, 0.1);
  animation: fadeIn 1s ease both;
  -webkit-animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    -webkit-animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
}

#github-repos {
  max-width: 400px;
  margin: 20px auto;
  background: rgb(171, 177, 180);
  padding: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-list {
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttonOpen {
  display: inline-block;
  padding: 12px 20px;
  font-weight: bold;
  border: none;
  background: #63a0d8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.15);
}
.buttonOpen:hover {
  background: #70dff3;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 100%);
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
    -moz-transform: translate(-5px);
    -ms-transform: translate(-5px);
    -o-transform: translate(-5px);
  }
}

.closeBTN {
  display: inline-block;
  font-size: 0.8rem;
  background-color: cadetblue;
  color: rgb(var(--vs-primary)) olet;
  padding: 13px 25px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;

  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;

  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 100%);
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
    -moz-transform: translate(-5px);
    -ms-transform: translate(-5px);
    -o-transform: translate(-5px);
  }
}
.Close {
  color: rgb(148, 12, 12);
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}

footer p {
  background-color: transparent;
  border-style: none;
  box-shadow: none;
  margin-bottom: 20px;
}
